.banner{
  width: 100%;
  height: 30%;
  position: fixed;
  background-color: #F3228A;
  top: 0;
}
h2{
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}
.small {
  font-size: 25px;
  font-weight: bolder;
}

.post-date{
  color:#D5DBDE;
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 20px;
}
.profilePic{
  left: 0;
  width: 190px;
  height: 190px;
  position: absolute;
  top: 90px;
  border: 3px solid #fff;
  background-color: #fff;
}

.container{
  margin-top: 15%;
}

p {
  font-size: .7em;
  font-family: 'Molengo', sans-serif;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.code {
  text-align: center;
}
